//
   Created by vickyzhu on 2016/1/5.

link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="styleSheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
// 使用less
link(href="/less/style.less",rel="stylesheet/less")
script(src="//cdn.bootcss.com/less.js/2.5.3/less.js")
